uWebshop.Payment.Buckaroo/obj/
uWebshop.Payment.Mollie/obj/
uWebshop.Payment.Ogone/package/
uWebshop.Payment.ePay/obj/
uWebshop.Payment.ePay/bin/
uWebshop.Payment.PayPal/obj/
uWebshop.Payment.PayPal/bin/
uWebshop.Payment.Omnikassa/obj/
uWebshop.Payment.Omnikassa/bin/
uWebshop.Payment.Mollie/bin/
uWebshop.Payment.Mollie/package/
uWebshop.Payment.MultiSafepay/bin/
uWebshop.Payment.MultiSafepay/obj/
uWebshop.Payment.MultiSafepay/package/
uWebshop.Payment.Ogone/bin/
uWebshop.Payment.Ogone/obj/
uWebshop.Payment.Borgun/bin/
uWebshop.Payment.Borgun/obj/
uWebshop.Payment.Omnikassa/package/
uWebshop.Payment.PayPal/package/
uWebshop.Payment.SagePay/obj/
uWebshop.Payment.SagePay/bin/
uWebshop.Payment.SagePay/package/package.xml
uWebshop.Payment.SagePay/package/uWebshopSagePayInstaller.ascx
uWebshop.Payment.Sisow/bin/
uWebshop.Payment.Buckaroo/bin/
uWebshop.Payment.Ogone/uWebshop.2.5.0.0.PaymentProvider.Ogone/
uWebshop.Payment.PayPal/uWebshop.2.5.0.0.PaymentProvider.PayPal/
uWebshop.Payment.Mollie/uWebshop.2.5.0.0.PaymentProvider.Mollie/
uWebshop.Payment.Omnikassa/uWebshop.2.5.0.0.PaymentProvider.Omnikassa/
*.zip
uWebshop.Payment.EasyIdeal/obj/
uWebshop.Payment.Sisow/obj/
